.scoreboard {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
  width: 50%;
  height: fit-content;
  border: 2px solid var(--clr-neutral-header-outline);
  border-radius: 25px;
  color: white;
}

.scoreboard__title {
  padding: 1.5rem;
  font-size: 3rem;
  max-width: 5ch;
  line-height: 1;
  text-transform: uppercase;
}

.scoreboard__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  margin: 1.5rem;
  border-radius: 10px;
  background-color: white;
}

.score__title {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--clr-neutral-score-text);
}

.score__value {
  font-size: 4rem;
  color: var(--clr-neutral-dark-text);
}
